.card {
  padding: 0px;
  border-radius: var(--border-radius);
  /* border: 1px solid var(--accent-color); */
}

.card_image_wrap {
  position: relative;
  width: 100%;
  padding-top: 120%;
}

.card_image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  object-position: top;
  object-fit: cover;
}
